@import url('https://fonts.googleapis.com/css?family=Shrikhand');
@import url('https://fonts.googleapis.com/css?family=Archivo+Narrow');

/* https://www.w3schools.com/css/css_rwd_mediaqueries.asp */

body {
  font-family: "Archivo", sans-serif;
  background-image: url(sunset.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  background-color: #FFDA97;
}

/* should this be in the body tag? ^^^ it probably needs it's own class, because this tag is prolly needed for the centerpiece */

/* header {
  width: 810px;
  height: 150px;
  color: #FFDA97;
}

article {

} */

div {
   word-wrap: break-word;
   width: 800px;
   padding-left: 317px;
   padding-top: 25px;
}

h1 {
  font-family: "Shrikhand", serif;
  font-size: 6vw;
  padding-top: 0.5vh;
  text-align: center;
  color: #EA8A5D;
  text-shadow: 4px 4px 4px solid #BCD1D6;
  /* 0px 4px 7px #EA8A5D;*/
}

nav {
  position: sticky;
  /* do I have to specify anything for the sticky? */
  width: 807px;
  height: 40px;
  left: 317px;
  top: 132px;
  background: #EA8A5D;
  padding-left: 10px;
  padding-top: 10px;
}

nav a {
  font-family: "Shrikhand", serif;
  font-size: 20px;
  text-align: center;
  text-decoration: none;
  margin-right: 40px;
  margin-left: 40px;
  /* why is this not aligning center */
  color: #FFDA97;
  /* border: 1px solid rgba(0, 0, 0, 0.25); */
  /* borders not showing up AROUND TEXT/FONT */
  /* padding-right: 1em; */
}

/* hr {
  color: #EA8A5D;
  padding-top: 25px;
  /* horizontal borders not showing color?
} */

.quote {
  font-family: "Archivo Narrow", sans-serif;
  font-style: italic;
  font-size: 20px;
  color: #EA8A5D;
  text-align: center;
  
}

/* .centerpiece {
  position: absolute;
  width: 807px;
  height: 1024px;
  left: calc(50% - 807px/2 + 0.5px);
  top: calc(50% - 1024px/2);
  background: #FFDA97;
  border: 3px solid #EA8A5D;
} */
